.ShowsDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 50px;
  }
  
  .fade-in-element {
    opacity: 0;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
    transform: translateY(20px);
  }
  
  .fade-in-element.in-view {
    opacity: 1;
    transform: translateY(0);
  }
  