<div
    class="backgroundDiv">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img style="padding-top:5px; width:30px; height:30px;"  
                src="assets/logo.svg">
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex h-full align-items-center">
                <i *ngIf="!(state$ | async)?.loggedIn" routerLink="/login"
                    class=" text-xl text-700 hover:text-white animation-duration-100 cursor-pointer pi pi-fw pi-user pr-4 transition-all transition-duration-500"></i>
                <div class="flex h-full flex-row gap-3 align-items-center"
                    *ngIf=" (state$ | async)?.loggedIn">
                    <span class="glowyText">Welcome {{(state$|async)?.username}}</span>
                    <i (click)="logout()"
                        class="text-xl text-700 hover:text-white animation-duration-100 cursor-pointer pi pi-fw pi-sign-out pr-4 transition-all transition-duration-500"></i>
                </div>
            </div>
        </ng-template>
    </p-menubar>
    <ng-content></ng-content>
</div>