<app-nav-and-background > 
    <div class="textAndBtnsDiv">
        <div
            class="textDiv">
            <h1 class="h1Text">Netflix Search</h1>
            <span class="spanText">Netflix database search engine</span>
        </div>
        <div class="btnsDiv">
             <p-button routerLink="/movies" label="Movies"></p-button>
            <p-button label="Series" routerLink="/series"></p-button>
        </div>
    </div>
    <app-results [Random]="true"></app-results>
</app-nav-and-background>